.preloader { /*контейнер прелоадера*/
  position: absolute;
  inset: 0; /*растянули на весь экран*/
  display: flex;
  justify-content: center; /*центр по горизонтали*/
  align-items: center; /*центр по вертикали*/
  background: #545050;
}

.preloader-chasing-squares { /*задаем размер области для квадратов*/
  width: 50px;
  height: 50px;
  line-height: 19px;
}

.preloader-chasing-squares .square { /*один квадрат*/
  display: inline-block; /*стоит в строке, но имеет размер*/
  width: 15px;
  height: 15px;
  opacity: 1; /*полная непрозрачность*/
  background: #fff;
  animation: focusfade 2.8s infinite; /*включили анимацию*/
} /*позволяет квадратам стоять в ряд, имея ширину и высоту*/

.preloader-chasing-squares .square:nth-child(2) { /*задержки для квадратов*/
  animation-delay: 0.7s;
}

.preloader-chasing-squares .square:nth-child(3) {
  animation-delay: 2.1s;
}

.preloader-chasing-squares .square:nth-child(4) {
  animation-delay: 1.4s;
}

@keyframes focusfade { /*сама анимация*/

  0% {
    opacity: 0.7;
  }

  30% {
    opacity: 0.7;
  }

  60% {
    opacity: 0;
  }

  75% {
    opacity: 0;
  }

  100% {
    opacity: 0.7;
  }
}
