*, /*все элементы на странице*/
*::before,
*::after {
  box-sizing: border-box; /*ширина элемента включает в себя границы и отступы*/
}

html {
  block-size: 100%; /*высота окна браузера*/
}

.page { /*настройка для всей страницы*/
  display:flex; /*гибкая верстка*/
  align-items: center; /*выравнивание*/
  inline-size: 1200px; /*ширина страницы*/
  block-size: 100%; /*высота окна браузера*/
  margin: auto; /*автоматические отступы*/
  color: #fff; /*цвет текста для всех элементов*/
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919; /*цвет фона*/
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden { /*скрытый класс (для скринридера и тп)*/
  clip: rect(0 0 0 0); /*обрезаем до полного исчезновения*/
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden; /*прячем то, что вылезает за границы*/
  position: absolute;
  white-space: nowrap; /*запретили перенос текста*/
  width: 1px;
  border: none; /*убрали рамки*/
}

.content { /*основная структура контента*/
  display: flex; /*делает дочерние элементы гибкими*/
  inline-size: 100%; /*растягивает на всю ширину родителя*/
  gap: 30px; /*расстояние между двумя колонками (форма и список видео)*/
  margin: 0 30px; /*отступы с обеих сторон*/
}

.button { /*стили кнопок*/
  border: 1px solid #fff;
  height: 34px;
  cursor: pointer;
  background-color: transparent;
  text-align: center;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color:#fff;
}

.result { /*левая колонка*/
  align-self: flex-end; /*прижата к низу*/
}

.result__video-container { /*контейнер для видео*/
  position: relative; /*позволяет позиционировать элементы внутри*/
  width: 100%; /*ширина 100% от родителя*/
  height: 386px; /*фиксированная высота окна для видео*/
  margin-bottom: 16px; /*отступ снизу*/
}

.result__video {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: contain; /*добавляет черные полосы, если видео слишком широкое или высокое*/
  object-position: center;
}

.search-form__fieldset {
  display:flex;
  flex-direction: column;
  height: 100%;
  width: fit-content;
}

.search-form { /*форма поиска*/
  display:flex; /*каждый элемент прижимается к краям с равными расстояниями между ними*/
/*  align-items: center;*/
  width: 100%;
  margin-top: 14px;
  justify-content: space-between;
 /* height:54px;*/
}

.search-form__fieldset:nth-child(2){
  margin-left: 44px;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color:#fff;
 /* width: 225px;*/
 margin-bottom: 5px;
}

.title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
  color:#fff;
  line-height: 0.94;
  text-transform: uppercase;
}

.content__accent {
  color:#545050;
}

.content__list { /*список карточек с видео*/
  position: relative;
  height: 298px; /*фиксированная высота списка*/
  overflow: auto; /*карточек много - появляется полоса прокрутки*/
  margin-top: 23px;
  overflow-x: hidden; /*горизонтальная прокрутка скрыта*/
}

.content__video-card { /*карточка видео*/
  display: inline-flex; /*flex-контейнер, но ведет себя как строчный элемент*/
  width: 100%;
}

.content__video-card-title { /*адаптивные текста*/
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  color:#fff;
  text-transform: uppercase;
  max-width: 200px; /*максимальная ширина заголовка*/
  text-overflow: ellipsis; /*если текст не помещается, то в конце будут ...*/
  white-space: nowrap; /*запрет переноса на новую строку*/
  overflow: hidden; /*скрыть все, что не поместилось*/
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color:#fff;
}

.content__video-card-thumbnail { /*карточка видео*/
  width: 194px;
  margin-left: auto; /*картинка прижимается к правому краю*/
  object-fit: contain; /*сохраняет пропорции картинки*/
  object-position: center;
}

.search-form__submit-button {
  width: 194px;
  margin-top: 20px;
  margin-left: 36px;
  text-align: center;
}

.more-button {
  width: 399px;
  height: 33px;
}

.button:hover { /*подкеркичвание при наведении*/
  text-decoration: underline;
}

.button:active { /*серый фон при нажатии*/
  background-color: #545050;
}

.button:focus {
  outline:none; 
}

.button:focus-visible { /*рамка при фокусе клавишей Tab*/
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__list-item { 
  width: 100%;
  margin-bottom: 30px;
}

.content__list-item:last-child {
  margin-bottom: 0;
}

.search-form__pseudo-checkbox {  /*для псевдо-чекбокса*/
  display: block;
  border: 1px solid #fff;
  width: 19px;
  height: 19px;
  margin-top: 1px;
} /*настоящий чекбокс скрыт, вместо него белый квадрат*/


.search-form__checkbox-list {
  display: flex;
  width: fit-content;
  gap: 12px;
}

.search-form__checkbox-list label:hover {
  cursor: pointer;
  text-decoration: underline; 
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before { /*когда чекбокс отмечен*/
  content: '';
  display: block;
  position: relative; 
  top: 1px;
  left: 1px;
  width:15px;
  height: 15px;
  text-align: center;
  background-color: #fff;
} /*если чекбокс отмечен, то добавляем внутрь квадрата белый квадрат поменьше*/

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:active {
 outline: 2px solid #fff;
}

.search-form__fieldset {
  border:none;
}

.search-form__label {
  display: flex;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color:#fff;
  align-self: flex-start;
}

.search-form__label-text {
  margin: 0 3px 8px 6px;
}


.search-form__label-text:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) { /*выбери ВСЕ search-form__label, которые содержат внутри элемент в состоянии :focus-visible*/
  outline: 1px solid #fff; 
  outline-offset: 1px; 
} 

.search-form__textfield { /*поле ввода текста*/
  width:225px;
  appearance: none; /*убирает нативыне стили браузера*/
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: none;
  border-right: none;
  padding: 2px 0;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: inherit; /*наследует белый цвет от родителей*/
  background-color: inherit; /*наследует темный фон от родителей*/
} /*выглядит как линия сверху и снизу, без боковых границ*/

.search-form__label:has(.search-form__pseudo-checkbox) {
  height: 21px;
}

.search-form__label:has(.search-form__pseudo-checkbox):focus-visible {
  outline: 1px solid #fff; 
  outline-offset: 1px;
}

/**/

.content__card-link {
  display: block;
}

.content__card-link_current article { /*выделение активной карточки с видео*/
  background-color: #545050;
}

.content__card-link:hover h2 { /*подчеркивает все заголоки при наведении на карточку в списке*/
  text-decoration: underline;
}

.content__card-link:hover p {
  text-decoration: underline;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  margin: 2px; 
}

.content__card-link:focus {
  outline: none;
}

/* это лишнее, получается, так как есть .content__card-link_current article 
.content__card-link:active {
  background-color: #545050;
}

